<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>My life cv</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left_side">
            <div class="profileText">
                <div class="imgBx">
                    <img class="gg" [src]="'./assets/images/rohith.jpg'">
                </div>
                <h2>ROHITH K H<br><span>Full Stack Developer</span></h2>
            </div>
            <div class="contactInfo">
                <h3 class="title">Contact Info</h3>
                <ul>
                    <li>
                        <span class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                        <span class="'text">+91 6362716157</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="'text">rohithkh2020@gmail.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
                        <span class="'text">https://www.linkedin.com/in/rohith-k-h-322b15289</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-github-square" aria-hidden="true"></i></span>
                        <span class="'text">https://github.com/Rohithgowdakh/Resume</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="'text">Bangaluru,karnataka,India</span>
                    </li>
                </ul>

            </div>
            <div class="contactInfoEducation">
                <h3 class="title">Education</h3>
                <ul>
                    <li>
                        <h5>2020 - 2024</h5>
                        <h4>Bachelor Degree in Computer Science</h4>
                        <h4>CGPA : 8.1</h4>
                        <h4>Visveshwaraiah Technological University</h4>
                    </li>
                    <li>
                        <h5>2019 - 2020</h5>
                        <h4>Pre - University Course </h4>
                        <h4>Percentage : 91%</h4>
                        <h4>Morarji Desai Residential College</h4>
                    </li>
                    <li>
                        <h5>2017 - 2018</h5>
                        <h4>SSLC</h4>
                        <h4>Percentage : 75%</h4>
                        <h4>Morarji Desai Residential School</h4>
                    </li>
                </ul>
            </div>
            <div class="contactInfo  language">
                <h3 class="title">Languages</h3>
                <ul>
                    <li>
                        <span class="text">English</span>
                        <span class="percent">
                            <div style="width: 75%;"></div>
                        </span>
                    </li>
                    <li>
                        <span class="text">Kannada</span>
                        <span class="percent">
                            <div style="width: 100%;"></div>
                        </span>
                    </li>
                    <li>
                        <span class="text">Hindi</span>
                        <span class="percent">
                            <div style="width: 50%;"></div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    <div class="right_side">
        <div class="About">
            <h2 class="title2">Profile</h2>
            <p>I'm an enthusiastic person eager to work in a dynamic setting, where I can acquire essential skills that inspire me to excel and achieve personal and professional growth in the technical field.<br><br>
                As a software engineer, I aspire to continuously enhance my skills, stay abreast of emerging technologies, and deliver high-quality software products that address complex challenges, while promoting efficiency and scalability.</p>
        </div>
        <div class="about">
            <h2 class="title2">Project</h2>
            <div class="box">
                <div class="projectTitle">
                    <h4>Detection of Deepfake Images/Videos Using Advanced DeepLearning Techniques</h4>
                 <div class="text">   <h5>Descreption : Detecting fake face swap videos as real or fake</h5>
                </div>
                
                <p class="role">Installation of Required Software: I am responsible for setting up the necessary softwar tools and libraries required for deepfake detection, ensuring that everything runs
                    smoothly and efficiently.
                    Presentation: I am prepare and deliver presentations to professors , explaining the
                    project's objectives, methodologies, and findings, showcasing your progress and results
                    at various stages.
                    Data Collection: I am lead the effort in gathering datasets essential for training and
                    validating the deepfake detection models.
                    Model Training and Evaluation: Leveraging your expertise, you'll train deep learning
                    models using the collected data, fine-tuning and optimizing them for accurate
                    detection . <br><br>Frontend Development: Utilizing HTML, CSS, and JavaScript, you'll design
                    and implement the project's frontend interface, providing users with intuitive and
                    interactive tools for interacting with the deepfake detection system.
                    Backend Development: I am build the backend infrastructure using Django, enabling
                    seamless communication between the frontend interface and the deepfake detection
                    models. This involves handling data requests, processing results.</p>
                </div>
            </div>
        </div>
        <div class="About2">
            <h2 class="title3">Work Experience</h2>
            <h5>Worked as Intern in HAL(Hindustan Aeronautics Limited) from Aug 2023 to Sep 2023</h5>
                <p>Role :I am collaborate with team members to ensure the real time project meets its objectives and specifications.</p>
        </div>
        <div class="About">
            <h2 class="title4">Field of Interest</h2>
                <ul>  
                    <li>Full Stack Developer</li>
                    <li>Web Developer</li>
                </ul>    
        </div>
        <div class="about skills">
            <h2 class="title5">Professional Skills</h2>
            <div class="box">
                <h4>SQL(mySQL)</h4>
                <div class="percent">
                    <div style="width: 90%;"></div>
                </div>
            </div>
            <div class="box">
                <h4>HTML</h4>
                <div class="percent">
                    <div style="width: 80%;"></div>
                </div>
            </div>
            <div class="box">
                <h4>CSS</h4>
                <div class="percent">
                    <div style="width: 70%;"></div>
                </div>
            </div>
            <div class="box">
                <h4>JAVA</h4>
                <div class="percent">
                    <div style="width: 80%;"></div>
                </div>
            </div>
        </div>
        <div class="hobbies">
            <h2 class="title6">STRENGTH & HOBBIES</h2>
            <UL>
                <LI>Hard Worker</LI>
                <li>Creativity</li>
                <li>Time Management</li>
                <li>E-Sports Games</li>
                <li>Reading Newspaper</li>
            </UL>
        </div>
    </div>
    </div>
</body>
</html>